*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --ColorFondoPrimario: white;
}
.bodyForm{
    background: #0c0c0d;
    font-family: 'Lato', sans-serif;
}
.formulario{
    text-align: center;
    font-size: 50px;
}
.container{
    width: 500px;
    height: 550px;
    padding: 70px;
    margin: 130px auto;
    background: var(--ColorFondoPrimario);
    border: 1px solid white;
    border-style: double;
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(85, 83, 83);
}
.texto{
    border-style: double;
    border-width: 1px;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    display: block;
    margin-bottom: 10px;
}
lavel{
    font-family: 'Lato', sans-serif;
    margin-bottom: 40px;
}
textarea{
    border-style: double;
    border-width: 1px;
    border-radius: 10px;
    height: 90px;
    width: 100%;
    padding-left: 10px;
    display: block;
}
/* css do Botão */
.enviar{
    background-color: #4d4deb;
    border-radius: 10px ;
    height: 40px;
    width: 100px;
    display: block;
    margin-top: 10px;
    margin: 10px auto;
    border: none;
    cursor: pointer;
}
h4{
    text-align: center;
}

/* Deixar Responsivo */
@media (min-width: 1200px){
    .container{
        width: 40%;
    }
}
@media (min-width: 768px) {
    .container{
        width: 65%;
    }
}
@media (max-width: 767px) {
    .container{
        width: 85%;
    }
}
@media (min-width:480px){
    .container{
        width: 50%;
    }
}